@using restate.RealEstateManagement.Models;
@model RealEstate;

<h1>@Model.Name</h1>

<div>
    <a asp-area="RealEstateManagement" asp-controller="EstateUnit" asp-action="Index" asp-route-realEstateId="@Model.Id">
        Estate Units
    </a>
</div>

<div>
    <a asp-area="RealEstateManagement" asp-controller="RealEstate" asp-action="Index">
        Back to all Real Estates
    </a>
</div>